.page{
  min-height: 80vh;
  background-color: #282c34;
  color: white;
  display:grid;
  grid-template-columns: 30vh 1fr;
  grid-template-rows: 1fr;
}

.page h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 15px;
  font-size:4.5em;
  margin:0 auto;
  padding: 30px 0;
  -webkit-animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.page .vertical-title {
  margin:0;
  grid-column-start: 1;
  grid-column-end: 1;
  align-self:center;
  border-right:2px solid white;
  animation-name:border-entrance;
  animation-duration: 0.5s;
  height: 100%;

}


.page .content {
  grid-column-start: 2;
  padding: 0 20px;
}

@keyframes border-entrance {
  from {border-right:2px solid #282c34;}
  to {border-right: 2px solid white}
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}