.item{
    display: inline-block;
    height: 100%;
    width:300px;
    max-height: 700px;
    box-shadow: #999 0 0 15px 1px;
    transform: scale(0.88);
    transition: all 0.75s ease-out;
    cursor: pointer;
    background-color: #282c34;
    position:relative;
    z-index:0;
}

.item:hover{
    transform: scale(1.1);
    z-index: 1000;
    overflow:visible;
}

.inner {
    position: absolute;
    width: 100%;

}

.item img{
    width: 100%;
    margin:0 auto;
}

.item .description {
    padding: 0 10px 10px;
}

.item .description .summary{
    display: none;
}

.item .genres{
    margin-top: 10px;
    overflow: hidden;
    padding: 5px;
}

.item .genre{
    margin: 3px;
    padding: 3px;
    background: rgb(58, 68, 114);
    border: 2px ridge rgb(231, 233, 235);
    
    color: white;
    text-shadow: 2px 2px 5px #ccc;

}

